Source: dupload
Section: devel
Priority: optional
Maintainer: Dpkg Developers <debian-dpkg@lists.debian.org>
Uploaders: Guillem Jover <guillem@debian.org>
Vcs-Browser: https://anonscm.debian.org/cgit/dpkg/dupload.git
Vcs-Git: https://anonscm.debian.org/git/dpkg/dupload.git
Standards-Version: 4.1.0
Rules-Requires-Root: no
Build-Depends:
 debhelper (>= 10),
 bash-completion,
Build-Depends-Indep:
 perl,

Package: dupload
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 ${perl:Depends},
Recommends:
 openssh-client | ssh,
Suggests:
 lintian,
 mail-transport-agent,
Description: Debian package upload tool
 dupload will automagically upload Debian packages to a remote host with
 a Debian upload queue. The default host is configurable, along with the
 upload method and a lot of other things. All uploads are logged.
 .
 It is intended mainly for people maintaining Debian packages.
